<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Disponibles - Top Nails</title>
    <link rel="stylesheet" href="../../static/Style/servicios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/img/top nails.png" alt="TOP Nails Logo" class="logo-img">
        </div>
        
        <a href="/client_home" class="back-button" aria-label="Volver al inicio">
            <i data-lucide="arrow-left"></i>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('auth.logout') }}" class="btn-logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="button-text">Cerrar sesión</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <ul class="products-list">
            {% for product in products %}
                <li class="product-item">
                    <h2 class="product-name">{{ product.Nombre }}</h2>
                    <p class="product-description">{{ product.Descripcion }}</p>
                    <p class="product-price">Precio: ₲ {{ product.Precio }}</p>
                    
                    <!-- Mostrar la imagen si existe -->
                    {% if product.Imagen %}
                        <img src="data:image/jpeg;base64,{{ product.Imagen }}" alt="{{ product.Nombre }}" class="product-image" />
                    {% else %}
                        <p>No hay imagen disponible</p>
                    {% endif %}
                </li>
            {% else %}
                <li class="no-products">No hay productos disponibles en este momento.</li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('client.schedule_appointment') }}" class="schedule-button">Agendar Cita</a>
    </main>

    <footer>
        <p>&copy; 2023 Top Nails. Todos los derechos reservados.</p>
    </footer>
    <script>
        lucide.createIcons();
    </script>
</body>
</html>
