<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP Nails - Página Principal</title>
    <link rel="stylesheet" href="../static/Style/index.css">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/img/top nails.png" alt="TOP Nails Logo" class="logo-img">
        </div>
        <nav>
            <button id="aboutUsBtn" class="nav-button">Nosotros</button>
            <button id="logoutBtn" class="nav-button logout-button">
                <i data-lucide="log-out"></i>
                Cerrar Sesión
            </button>
        </nav>
    </header>

    <main>
        <h2>Bienvenido a TOP Nails</h2>
        <div class="button-container">
            <button class="image-button" onclick="window.location.href='/index'">
                <img src="../static/img/catalogo.jpg" alt="Revista de Diseños">
                <span>Revista de Diseños</span>
            </button>
            <button class="image-button" onclick="window.location.href='/reservas'">
                <img src="../static/img/reserva.jpg" alt="Registro de Reservaciones">
                <span>Registro de Reservaciones</span>
            </button>
        </div>
    </main>

    <div id="aboutUsModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Sobre Nosotros</h2>
            <h3>Misión</h3>
            <p>En Top Nails buscamos realzar la belleza y personalidad de nuestras clientas mediante servicios de manicura y pedicura de alta calidad, en un ambiente relajante y profesional.</p>
            <h3>Visión</h3>
            <p>Ser líderes en el mercado de uñas, destacando por nuestra creatividad, servicio excepcional y expansión global.</p>
            <h3>Valores</h3>
            <ul id="valuesList"></ul>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 TOP Nails. Todos los derechos reservados.</p>
    </footer>

    <script src="/static/valores.js"></script>
</body>
</html>