<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="../static/Style/styles.css">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h2>Cambiar Contraseña</h2>
            <form method="post" action="{{ url_for('auth.change_password') }}">
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="current_password" name="current_password" placeholder="Contraseña Actual" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="new_password" name="new_password" placeholder="Nueva Contraseña" required>
                </div>
                <button type="submit">Cambiar Contraseña</button>
            </form>
        </div>
    </div>
</body>
</html>
