<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Cliente</title>
</head>
<body>
    <h1>Bienvenido, Cliente</h1>

    <div>
        <!-- Enlace para ver los servicios disponibles -->
        <a href="/client/services">Ver Servicios Disponibles</a>
    </div>

    <div>


    <div>
        <!-- Enlace para reservar una cita -->
        <a href="/client/schedule">Reservar Cita</a>
    </div>

    <div>
        <!-- Enlace para ver citas registradas -->
        <a href="/client/appointments">Mis Citas</a>
    </div>
    <a href="{{ url_for('auth.change_password') }}">Cambiar clave</a>
    <br>
    
    <a href="{{ url_for('auth.logout') }}">Cerrar sesion</a>
    <br>
</body>
</html>
